{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>
      {% block title %}
       Mural de Recados
      {% endblock %}
    </title>

    <link rel="stylesheet" href="{% static 'pages/style.css' %}" />
  </head>

  <body>
    <header class="cabecalho">
      <div class="container cabecalho-conteudo">
        <a href="{% url 'pages:index' %}" class="logo">Mural de Recados</a>

        <nav aria-label="Navegação principal">
          <ul class="menu">
            <li>
              <a href="{% url 'pages:index' %}">Início</a>
            </li>
            
            {% if not request.user.is_authenticated %}
            
            <li>
              <a href="{% url 'pages:login' %}">Login</a>
            </li>
            {% else %}
            
            
            
            
            <li>
              <a href="{% url 'pages:meus_recados' %}">Minhas Mensagens</a>
            </li>
            
            
            
            <li>
              <a href="{% url 'pages:mensagens' %}">Mensagem</a>
            </li>
            
            {% endif %}
            
            {% if not request.user.is_authenticated %}
            
            <li>
              <a href="{% url 'pages:cadastro' %}">Cadastro</a>
            </li>
            
            {% endif %}
            
            <li>
              <a href="{% url 'pages:lista' %}">Mensagens de usuarios</a>
            </li>
            
            
            <span>
              {% if user.first_name %}
              Olá, {{ user.first_name }}
              {% else %}
              Olá, {{ user.username }}
              {% endif %}
            </span>
            
            <li>
              <a href="{% url 'pages:logout' %}" class="botao-menu">Sair</a>
            </li>

  
               
               
          </ul>
        </nav>
      </div>
    </header>

     {% if messages %}
      <div class="mensagens-sistema">
        <div class="container">
          {% for message in messages %}
            <div class="mensagem-sistema {{ message.tags }}" role="alert">
              <span>{{ message }}</span>
            </div>
          {% endfor %}
        </div>
      </div>
    {% endif %}

    <main>
      {% block content %}

      {% endblock %}
    </main>

    <footer class="rodape">
     
        <p> Mural de Recados</p>
      </div>
    </footer>
  </body>
</html>