{% extends 'pages/base.html' %}

{% block title %}
  {{ codigo_erro }} | Estante Circular
{% endblock %}

{% block content %}
  <section class="pagina-erro">
    <div class="container-erro">
      <div class="card-erro">
        <span class="icone-erro">
            🚫
        </span>
        <span class="codigo-erro">{{ codigo_erro }}</span>

        <h1>{{ titulo_erro }}</h1>

        <p>{{ mensagem_erro }}</p>

        <div class="acoes-erro">
          <a href="{% url 'pages:index' %}" class="botao botao-principal">Ir para pagina inicial</a>

          <a href="{% url 'pages:lista' %}" class="botao botao-secundario">Recados de usuarios</a>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
 