{% extends 'pages/base.html' %}

{% block title %}
    Início | Mural de Recados
{% endblock %}

{% block content %}

<section class="pagina-inicio">

    <div class="recado">

        <p>
            Olá! Seja bem-vindo ao Mural de Recados.
        </p>

        <h1>
            Tem algo para dizer?
        </h1>

        <h1>
            Deixe seu recado aqui!
        </h1>

        <div class="container2">
           Algumas Mensagens de usuários
        </div>

    </div>


    <div class="mensagens-usuarios">

        {% for mensagem in mural_recados %}

            <article class="card-mensagem">

                <div class="card-mensagem-conteudo">

                    <span class="nome">
                        {{ mensagem.nome }}
                    </span>

                    <h3>
                        {{ mensagem.data }}
                    </h3>

                    <p>
                        {{ mensagem.mensagem }}
                    </p>

                </div>

            </article>

        {% empty %}

            <p class="sem-mensagens">
                Ainda não existem mensagens no mural.
            </p>

        {% endfor %}

    </div>

</section>

{% endblock %}