{% extends 'pages/base.html' %}


{% block title %}
    Início | Mural de recados
{% endblock %}


{% block content %}

<section>
    <div class="recado">
        <p>
            Olá! Seja bem vindo ao Mural de Recados.

        </p>
        <h1>
            Tem algo para dizer? 
        </h1>

        <h1>
            Deixe seu recado aqui
        </h1>
        
         <div class="container2">
            Mensagens de usuarios
         </div>
    </div>

      <div class="mensagens-usuarios">


                <article class="card-mensagem">


                    <div class="card-mensagem-conteudo">

                        <span class="nome">
                            {{ mensagem.nome }}
                        </span>

                        <h3>
                            {{ mensagem.data }}
                        </h3>

                        <p>
                            {{ mensagem.mensagem }}
                        </p>

                    </div>

                </article>

           

        </div>

</section>

{% endblock %}