{% extends 'pages/base.html' %}

{% block title %}
Mensagens de usuários | Mural de Recados
{% endblock %}

{% block content %}

<div class="pagina-lista">
<div class="container-pesquisa">

    <form method="get" action="{% url 'pages:lista' %}">

        <input
            type="text"
            name="q"
            placeholder="Pesquisar mensagens..."
            value="{{ termo_busca }}"
        >

        <button type="submit">
            Pesquisar
        </button>

        <span class="icone-pesquisa">
            🔎
        </span>

    </form>

</div>

<h2 class="titulo-mensagens">
    Recados de Usuários
</h2>

<section>

    <h2>
        Veja as mensagens dos usuários
    </h2>

    <div class="nossas-mensagens">

       {% for mensagem in mensagens %}

    <article class="article-mensagem">

        {% if mensagem.imagem %}
            <img
                src="{{ mensagem.imagem.url }}"
                alt="Imagem do recado"
                class="imagem-mensagem"
            >
        {% endif %}

        <div class="card-mensagem-conteudo">

            <span class="nome">
                {{ mensagem.nome }}
            </span>

            <span class="data-mensagem">
                {{ mensagem.data }}
            </span>

            <p class="texto-mensagem">
                {{ mensagem.mensagem }}
            </p>

        </div>

    </article>

{% empty %}

    <p>Nenhum recado encontrado.</p>

{% endfor %}

    </div>

</section>

</div>

{% endblock %}